{% extends 'base.html' %}
{% block content %}
<div class="container" id="LoginForm" >
<div class="login-form">
    <div class="main-div">
        <div class="panel">
            <h2 class="form-heading">Sign up</h2>
        </div>
    <form method="post" id="Login">
    {% csrf_token %}

    {% for field in form %}
    <div class="row form-group">
        <div class="col-md-6">
            {{ field.label_tag }}
        </div>
        <div class="col-md-6">
            {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Sign up</button>
  </form>
</div>
</div>
{% endblock %}